@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.staff {
    margin-bottom: 3rem;
    padding-left: 100px;
  .staff-title {
    font-size: 50px;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}