.about-us {
    max-width: 800px;
    margin: 3rem auto; // Căn giữa nội dung theo chiều ngang và tạo khoảng cách trên-dưới 
    padding: 2rem; // Tạo khoảng trống bên trong
    text-align: center;

    p {
        font-size: 1.2rem;
        line-height: 1.6;
        opacity: 0.7; 
    }
}