.banner {
  position: relative; // Để đặt overlay
  overflow: hidden;
  

  .banner-image {
    width: 100%;
    height: auto;
    object-fit: cover; // Đảm bảo ảnh không bị méo
    //  filter: blur(1.5px); // Làm mờ ảnh
     filter: brightness(70%);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .welcome-text {
    top: 50%; // Đặt giữa theo chiều dọc
    left: 50%; // Đặt giữa theo chiều ngang
    transform: translate(-50%, -50%); // Căn chỉnh chính xác giữa
    color: white;

    h1 {
      font-size: 4rem;
      font-weight: bold;

     
      @media (max-width: 768px) {
        font-size: 2rem; // Điều chỉnh kích thước chữ cho màn hình nhỏ
      }

      @media (max-width: 576px) {
        font-size: 1.5rem; // Điều chỉnh kích thước chữ cho màn hình rất nhỏ
      }
    }
  }
}

.homepage-message {
  max-width: 800px;
   
  padding: 2rem; // Tạo khoảng trống bên trong
  text-align: center;
  margin: 2rem;

  p {
    font-size: 1.2rem;
    line-height: 1.6;
    opacity: 0.7;
  }
}