@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.custom-button  {
    background-color: #E07B39 !important; // Màu nền mặc định
    color: white !important; // Màu chữ mặc định
    border: none; // Không có viền
    padding: 10px 20px; // Kích thước nút
    font-size: 1rem; // Kích thước chữ
    border-radius: 5px; // Bo góc cho nút
    transition: background-color 0.3s ease, color 0.3s ease; // Hiệu ứng mượt khi chuyển đổi
    
    &:hover {
      background-color: white !important; // Màu nền khi hover
      color: black !important; // Màu chữ khi hover
     
    }
  }

  .custom-nav .nav-link {
    font-size: 1.25rem; /* Adjust font size as needed */
    margin: 0 15px; /* Adds horizontal spacing between links */
    text-transform: uppercase; /* Optional: Makes text uppercase for a clean look */
  }
  
  .custom-nav .nav-link:hover {
    text-decoration: underline; /* Optional: Adds an underline on hover */
  }