@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


$primary-color: #166987; // Màu nền của thanh điều hướng
$button-color: #DEAA79; // Màu nền của nút Join Now và Login
$button-text-color: #FFFFFF; // Màu chữ trong các nút


body {
    font-family: 'Prompt', sans-serif !important;
}
.page-title {
    font-family: 'Yusei Magic', sans-serif;
}


// .d-flex .btn {
//     margin-right: 10px;
// }

// .navbar-nav .nav-link {
//     color: white;
//     /* Đổi màu chữ cho các item trong nav */
//     margin-right: 10px;

//     &:hover{
//         color: #d3d3d3
//         /* Màu chữ khi hover */
//     }
// }

